# Don't attempt to auto line feed, diff or merge MATLAB files
*.mlx binary
*.mat binary
*.fig binary
*.p binary
*.slx binary
*.mdl binary

# Don't attempt to auto line feed, diff or merge image files
*.jpg binary
*.png binary
